# Variables

## Asignación de variables
para asignar un valor a una variable, solo debemos usar el operador "="

In [ ]:
nombre = "Ariel"
edad = 23
fuma = False

# estatura en metros
estatura = 1.8

In [ ]:
print("nombre", nombre)
print("edad", edad)
print("fuma", fuma)
print("estatura", estatura, "m")

nombre Ariel
edad 23
fuma False
estatura 1.8 m

In [ ]:
x = 123
print(type(x))

x = 3.123
print(type("asdfasd"))

<class 'int'>
<class 'str'>

In [ ]:
print("nombre", type(nombre))
print("edad", type(edad))
print("fuma", type(fuma))
print("estatura", type(estatura))

nombre <class 'str'>
edad <class 'int'>
fuma <class 'bool'>
estatura <class 'float'>

## Enteros int
Los enteros siguen las mismas reglas que en las matemáticas

In [ ]:
numero_1 = 112
numero_2 = 23

# suma
print(numero_1 + numero_2)

# resta
print(numero_1 - numero_2)

# multiplicación
print(numero_1 * numero_2)

# división puede resultar en un numero con decimales
print(numero_1 / numero_2)

# división entera resultar en un numero entero sin decimales
# es el cociente de una división
print(numero_1 // numero_2)

# modulo o resto de una division
print(numero_1 % numero_2)

# número al cuadrado
print(numero_1 ** 2)

135
89
2576
4.869565217391305
4
20
12544

In [ ]:
# convertir entero a flotante
float(3)

3

In [ ]:
# convertir entero a string
str(3)

'3'

In [ ]:
# convertir entero a boolean
bool(3)

True

In [ ]:
# funciones para realizar operaciones

Existen ciertas funciones que nos facilitan operaciones matemáticas
como ser:
- round
- floor
- ceil
- abs
- max
- min
- sum
- format

## String
ya vimos con anterioridad parte de los strings, veamos que operaciones podemos realizar con los strings

In [ ]:
# asignar
nombre = "soy un nombre 234 $%^$%"

# imprimir 
print(nombre)

soy un nombre 234 $%^$%

In [ ]:
dir()

(si esta no es tu primera vez programando te recomiendo ver esta parte)
## Asignación en memoria

In [ ]:
x = "1"

In [ ]:
x -> lugar de memoria -> 1
y -> lugar de memoria -> 3

1

In [ ]:
print(hex(id(x)))

0x7ff8b2b0e3f0

In [ ]:
y = "1"
print(hex(id(y)))

0x7ff8b2b0e3f0